<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IMAGE-HOSTING</title>
    <script th:src="@{/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/jquery.fancybox.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/js/jquery.fancybox.js}" type="text/javascript"></script>
    <style>
        .container {
            width: 100%;
        }
    </style>
    <style>
        * {
            margin: 0;
            padding: 0;
            position: relative;
        }

        img {
            width: 220px;
            display: block;
        }

        .item {
            box-shadow: 2px 2px 2px #999;
            position: absolute;
        }
    </style>
    <script>
        function checkImage() {
            var val = $("#multipartFiles").val();
            if (val === null || val === undefined || val.length === 0) {
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div id="page-container" class="container">

    <div class="jumbotron">
        <h1>Hello, world!</h1>

        <form id="imgUpload" action="/image/upload" method="POST" enctype="multipart/form-data">
            <button class="btn btn-primary btn-lg" onclick="return checkImage()">UPLOAD</button>
            <input id="multipartFiles" name="multipartFiles" type="file" multiple style="display: inline-block">
        </form>
    </div>

</div>
<div id="image-container" class="container">

    <div id="box">
        <div class="item">
            <a data-fancybox="gallery" href="/image/20191014151611.jpg">
                <img src="/image/20191014151611.jpg" alt=""/>
            </a>
        </div>
    </div>

</div>

</body>
</html>
<!-- js 部分 -->
<script>
    var box = document.getElementById('box');
    var items = box.children;
    // 定义每一列之间的间隙 为10像素
    var gap = 10;

    window.onload = function () {

        //ajax 获取url数组
        $.get("/image/get", function (data) {
            for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.className = "item";
                // div.innerHTML = '<img src="' + data[i] + '" alt="">';
                div.innerHTML = '<a data-fancybox="gallery" href="' + data[i] + '"><img src="' + data[i] + '" alt=""></a>';
                box.appendChild(div);
            }
            // 一进来就调用一次
            waterFall();
        });


        // 封装成一个函数
        function waterFall() {
            // 1- 确定列数  = 页面的宽度 / 图片的宽度
            var pageWidth = getClient().width;
            var itemWidth = items[0].offsetWidth;
            var columns = parseInt(pageWidth / (itemWidth + gap));
            console.log("columns :" + columns);
            var arr = [];
            for (var i = 0; i < items.length; i++) {
                if (i < columns) {
                    // 2- 确定第一行
                    items[i].style.top = 0;
                    items[i].style.left = (itemWidth + gap) * i + 'px';
                    arr.push(items[i].offsetHeight);

                } else {
                    // 其他行
                    // 3- 找到数组中最小高度  和 它的索引
                    var minHeight = arr[0];
                    var index = 0;
                    for (var j = 0; j < arr.length; j++) {
                        if (minHeight > arr[j]) {
                            minHeight = arr[j];
                            index = j;
                        }
                    }
                    // 4- 设置下一行的第一个盒子位置
                    // top值就是最小列的高度 + gap
                    items[i].style.top = arr[index] + gap + 'px';
                    // left值就是最小列距离左边的距离
                    items[i].style.left = items[index].offsetLeft + 'px';

                    // 5- 修改最小列的高度
                    // 最小列的高度 = 当前自己的高度 + 拼接过来的高度 + 间隙的高度
                    arr[index] = arr[index] + items[i].offsetHeight + gap;
                }
            }
        }

        // 页面尺寸改变时实时触发
        window.onresize = function () {
            waterFall();
        };
        // 当加载到第30张的时候
        window.onscroll = function () {
            if (getClient().height + getScrollTop() >= items[items.length - 1].offsetTop) {
                //ajax 获取url数组
                $.get("/image/get", function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var div = document.createElement("div");
                        div.className = "item";
                        div.innerHTML = '<a data-fancybox="gallery" href="' + data[i] + '"><img src="' + data[i] + '" alt=""></a>';
                        box.appendChild(div);
                    }
                    waterFall();
                });
            }
        };
    };

    // clientWidth 处理兼容性
    function getClient() {
        return {
            width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
            height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
        }
    }

    // scrollTop兼容性处理
    function getScrollTop() {
        return window.pageYOffset || document.documentElement.scrollTop;
    }
</script>